#root {
  margin: auto;
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(to right, #ff66c4, #f2b234, #ffde59);
  background-size: cover;
  background-position: center;
  min-height: fit-content;
}

body,
html {
  height: 100%;
}

.footer {
  color: aliceblue;
}
